body{
user-select:none;
}
.container-fluid{
    display: grid;
    justify-items: center;
    align-items: center;
}
.form-label{
    font-weight: 500;
}
a{
    font-weight: 500;
}
.align{
    text-align: center;
}
.card-body{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    margin-left: 60px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #755139FF; 
    border-radius:10px ;
  }
  